<div class="shopPageBanner">
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let product of productGet | async">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image
                    src="https://storageaccountinternship.blob.core.windows.net/images/dd501f8b-6366-44ab-be66-caf88efc1725_phone.jpg"
                    alt="Photo of a product">
                <mat-card-content>
                    <p>{{product.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="buyProduct(product)" mat-raised-button color="primary">
                        Buy
                    </button>
                    <button (click)="deleteProduct(product.id)" mat-raised-button color="warn">
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <a routerLink="/create-product" href="" mat-raised-button color="primary">Create Product</a>
</div>