<table mat-table [dataSource]="productOrders" style="width: 100%;">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="imageId">
        <th mat-header-cell *matHeaderCellDef> ImageId </th>
        <td mat-cell *matCellDef="let product"> {{product.image.id}} </td>
    </ng-container>

    <ng-container matColumnDef="imageAzurePath">
        <th mat-header-cell *matHeaderCellDef> ImageAzurePath </th>
        <td mat-cell *matCellDef="let product"> {{product.image.azurePath}} </td>
    </ng-container> -->

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product"> {{product.id}}
            <button (click)="deleteProductOrder(product.id)" mat-raised-button color="warn">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>

<a>
    <button (click)="createOrder()" mat-stroked-button collor="warn">
        Order
    </button>
</a>