<div class="loginBanner">
    <div class="flex m-auto">
        <div class="m-auto">
            <mat-card>
                <mat-card-title>Login!</mat-card-title>
                <mat-card-subtitle>Enter your account details.</mat-card-subtitle>

                <mat-card-content>
                    <form [formGroup]="loginForm" action="">

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="email" placeholder="Enter your email address"
                                required />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input formControlName="password" matInput type="password"
                                placeholder="Enter your password" required />
                        </mat-form-field>
                    </form>
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions>
                    <button (click)="ngOnSubmit()" type="submit" mat-stroked-button>Login</button>
                    <button routerLink="/register" mat-stroked-button>Register</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
