<div class="createProductBanner">
    <div class="flex m-auto">
        <div class="m-auto">
            <mat-card>
                <mat-card-title>Create a Product!</mat-card-title>
                <mat-card-subtitle>Enter the product details.</mat-card-subtitle>

                <mat-card-content>
                    <form [formGroup]="productForm" action="">

                        <mat-form-field>
                            <mat-label>Product Name</mat-label>
                            <input formControlName="name" matInput type="text" placeholder="Enter the product's name"
                                required />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input formControlName="description" matInput type="text"
                                placeholder="Enter the product's description" required />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input formControlName="price" matInput type="number"
                                placeholder="Enter the product's price" required />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Quantity</mat-label>
                            <input formControlName="quantity" matInput type="number"
                                placeholder="Enter the product's quantity" required />
                        </mat-form-field>

                        <label for="">Choose a product picture:</label>

                        <input (change)="onChange($event)" type="file">

                    </form>

                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions>
                    <button (click)="ngOnSubmit()" type="submit" mat-stroked-button>Create Product</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>