<div class="homePageBanner">
    <div class="content">
        <h1>
            Enjoy the Richest Tea Collection
        </h1>
    </div>

    <div>
        <mat-grid-list cols="3">

            <mat-grid-tile>
                <mat-card class="example-card">
                    
                    <mat-card-title>
                        Step One
                    </mat-card-title>


                    <mat-card-content style="margin-top: 5%; font-size: 250%; font-weight: bold;">
                        Browse Our Collection
                    </mat-card-content>

                </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile>

                <mat-card class="example-card">
                    
                    <mat-card-title>
                        Step Two
                    </mat-card-title>


                    <mat-card-content style="margin-top: 5%; font-size: 250%; font-weight: bold;">
                        Place an Order
                    </mat-card-content>

                </mat-card>

            </mat-grid-tile>
    
            <mat-grid-tile>

                <mat-card class="example-card">
                    
                    <mat-card-title>
                        Step Three
                    </mat-card-title>


                    <mat-card-content style="margin-top: 5%; font-size: 250%; font-weight: bold;">
                        Delivery at Your Door
                    </mat-card-content>

                </mat-card>

            </mat-grid-tile>
    
        </mat-grid-list>
    </div>

</div>