<div class="contactPageBanner">
    <div class="flex m-auto">
        <div class="m-auto">
            <mat-card>
                    <mat-card-title style="margin-bottom: 10%;">
                        Contact Us!
                    </mat-card-title>
        
        
                    <mat-card-content style="margin-bottom: 10%; font-size: large;">
                        Phone Number - 0000 000 000
                    </mat-card-content>
        
                    <mat-card-content style="margin-bottom: 10%; font-size: large;">
                        Email Address - teashop@email.com
                    </mat-card-content>
        
                    <mat-card-content style="font-size: large;">
                        Facebook - facebook.com/teashop
                    </mat-card-content>       
            </mat-card>
        </div>
</div>